{% extends 'nav.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Create New User</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control form-control-md" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control form-control-md" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control form-control-md" id="password" name="password" required>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-primary px-5">Create</button>
                </div>
            </form>
            <div class="d-flex justify-content-center mt-3">
                <a href="{% url 'owner' %}">
                    <button class="btn btn-outline-secondary px-5">Back</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
