{% extends 'nav.html' %}
{% load static%}

{% block content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{ user.username }}</span></h3>

        <div class="col-sm-2 border-end mt-3">
            <a href="{% url 'profileview' %}"><button class="btn btn-outline-primary">Profile</button></a><br>
            <a href="{% url 'address' %}"><button class="btn btn-outline-primary mt-2">Address</button></a><br>
            <a href="{% url 'profileview' %}"><button class="btn btn-primary mt-2">Change Password</button></a>
        </div>

        <div class="col-sm-8 offset-sm-1">
            <form data-aos="fade-up" class="justify-content-center mt-4" method="POST" action="{% url 'changepassword' %}">
                {% csrf_token %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong class="text-black">{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                <input class="form-control p-3" style="border-color: rgb(135, 201, 228); border-radius: 20px;" 
                       type="password" placeholder="Old Password" name="oldpass" id="oldpass" required><br>
                <input class="form-control p-3" style="border-color: rgb(135, 201, 228); border-radius: 20px;" 
                       type="password" placeholder="New Password" name="newpass" id="newpass" required><br>
                <input class="form-control p-3" style="border-color: rgb(135, 201, 228); border-radius: 20px;" 
                       type="password" placeholder="Confirm Password" name="confpass" id="confpass" required><br>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="showPasswordToggle" onclick="togglePasswordVisibility()">
                    <label class="form-check-label" for="showPasswordToggle">Show Password</label>
                </div><br>

                <button class="form-control btn btn-primary text-white mt-2" 
                        style="width: 200px; border-radius: 15px;" type="submit">Submit</button>
            </form><br>
        </div>
    </div>
</div>





<script>
    function togglePasswordVisibility() {
        const oldPass = document.getElementById('oldpass');
        const newPass = document.getElementById('newpass');
        const confPass = document.getElementById('confpass');
        const toggleCheckbox = document.getElementById('showPasswordToggle');

        const inputType = toggleCheckbox.checked ? 'text' : 'password';
        oldPass.type = inputType;
        newPass.type = inputType;
        confPass.type = inputType;
    }
</script>

{% endblock content %}
