{% extends 'nav.html' %}
{% load static%}
{% block content %}
<div class="bg-black py-5">
    <div class="container">
        
        <div class="row align-items-center">
            <!-- Left Column: Image -->
            <div class="col-md-6 text-center ">
                <img src="{% static 'assets/img/requestimg.jpg' %}" alt="Request Illustration" class="img-fluid" style="height: 300px;">
            </div>
            
            <!-- Right Column: Form -->
            <div class="col-md-6">
                <h1 class="text-center text-white mb-4">Send a Request</h1>
                <form method="POST" action="{% url 'process_request' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label text-white">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your correct username....." required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label text-white">Message:</label>
                        <textarea class="form-control" id="message" name="message" rows="5"placeholder="Type here to sent.........." required></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-primary px-5">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
