{% extends 'nav.html'%}
{% block content%}
<style>
    body{
        background-image: url('/static/assets/img/new5.avif');  /* Path to your image */
        background-size: cover;          /* Cover the entire page */
        background-position: center;      /* Center the image */
        background-attachment: fixed;     /* Fixed background on scroll */
        height: 100vh;                    /* Full height of viewport */
        margin: 0;
        padding: 0;
    }

</style>
<div class="text-center justify-content-center mt-5 ">
    <h5 class="mt-5 text-white">An email has been sent to reset your password.</h5>
    <h3 class="mt-3 text-white">Check your Mail...</h3>
</div>
{% endblock content%}
