{% extends 'nav.html' %}
{% load static %}
{% block content %}
<style>
    .video-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-background {
        position: absolute;
        width: 80%;
        max-width: 600px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #bg-video {
        width: 100%;
        height: auto;
        max-width: 100%;
        border-radius: 10px;
    }

    @media (max-width: 768px) {
        .video-container {
            height: 40vh;
        }

        .video-background {
            width: 90%;
        }
    }

    @media (max-width: 480px) {
        .video-container {
            height: 50vh;
        }

        .video-background {
            width: 100%;
        }
    }
</style>











<div data-aos="fade-up" class="video-container">
    <div class="video-background">
        <video autoplay muted loop id="bg-video">
            <source src="{% static 'videos/orderdone.mp4' %}" type="video/mp4">
        </video>
    </div>
</div>

<h1 data-aos="fade-up" class="text-center fs-1"><strong>Thank you for Choosing WearBig</strong></h1>
<div data-aos="fade-up" class="text-center"><br>
    <a href="{% url 'product' %}">
        <button class="btn btn-outline-dark">Go Back</button>
    </a>
</div>

{% endblock content %}
